@charset "ISO-8859-1";

body {
         background: #2a9d8f !important;   
        }
p {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

.flex { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.Vorschlag{
	text-align: center;
  font-size: 60px;

  color: blue;
  background-color: #5bc0de;
        margin: 50px;
   
  
}
